.card
{
    background-color: rgba(194, 194, 194, 0.829);
}

.list-group
{
background-color: rgba(240, 248, 255, 0) !important;
}
.list-group-item
{
background-color: rgba(240, 248, 255, 0) !important;
}